<!DOCTYPE html>
<html>

<head>
  <title>Overtime</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <div class="row">
      <%= js add_gritter(flash[:notice], title: "Overtime app", sticky: false, class_name: "custom_gritter") %>

      <div class="col-md-12">

        <%= render 'shared/nav' %>
        <%= yield %>
      </div>
    </div>
  </div>


</body>

</html>